/* Fonts */
$fonts-progect: "Montserrat";
$font-second: '';

// Цвета
$color-primary: rgba(255, 255, 255, 1);
$color-secondary: rgba(255, 255, 255, 1);
$color-tretiary: #e0e0e0;
$color-lightest: #654321;
$color-brand: #239bf6;
$color-bg: #f3f3f3;

$color-rarely: #654321;
// Font color
$font-color-main: #ffffff;
$font-color-second: rgba(255, 255, 255, 0.4);
$cr-subtitle: #654321;
$cr-text: #654321;
$cr-text-second: #808080;

// Font size's
$title: 48px;
$title-size: 38px;


// Media queries
$desctop: 1440;
$laptop: 1024;
$tablet: 768;
$mobile: 480;

